<%= form_for @actionable, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :student_requested_job, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :student_requested_job, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :employeer_requested_student_for_job, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :employeer_requested_student_for_job, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :student_approved_for_job, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :student_approved_for_job, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :appeared_at_job, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :appeared_at_job, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :student_did_job_well, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :student_did_job_well, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  actionables_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
