<h1>Listing actionables</h1>

<table>
  <thead>
    <tr>
      <th>Student requested job</th>
      <th>Employeer requested student for job</th>
      <th>Student approved for job</th>
      <th>Appeared at job</th>
      <th>Student did job well</th>
      <th>Job</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actionables.each do |actionable| %>
      <tr>
        <td><%= actionable.student_requested_job %></td>
        <td><%= actionable.employeer_requested_student_for_job %></td>
        <td><%= actionable.student_approved_for_job %></td>
        <td><%= actionable.appeared_at_job %></td>
        <td><%= actionable.student_did_job_well %></td>
        <td><%= actionable.job %></td>
        <td><%= actionable.student %></td>
        <td><%= link_to 'Show', actionable %></td>
        <td><%= link_to 'Edit', edit_actionable_path(actionable) %></td>
        <td><%= link_to 'Destroy', actionable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actionable', new_actionable_path %>
